<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
        {% if data_css %}
        {{ ui_kit_styles_url | style(data_css) | safe }}
        {{ client_signup_styles_url | style(data_css) | safe }}
        {% else %}
        {{ ui_kit_styles_url | style() | safe }}
        {{ client_signup_styles_url | style() | safe }}
        {% endif %}
    </style>
</head>
<body onload="validator_with_error_message_checker()">

    <div class="container shadow">
        <div class="form_container">
            <form class="form" method="post">
                {{ form.hidden_tag() }}
                <div class="main_container">
                    <h2 class="form_title">Регистрация</h2>
                    <p class="login__title">Создание аккаунта клиента. Если у вас уже есть аккаунт вы можете <a class=link href='{{ client_login_url }}'>войти</a></p>
                    <div class="input_container">
                        <label class="login__label">Введите ваше имя:</label>
                        <div class="line_edit_container">
                            <i class="icon name"></i>
<!--                            <input class="input-field" type="text" placeholder="Владимир" name="usrnm">-->
                            {{ form.name(class="input-field name_field", type="text", placeholder="Владимир", onchange="validator()", onkeydown="validator()") }}
                        </div>
                    </div>

                    <div class="input_container">
                        <label class="login__label">Введите email:</label>
                        <div class="line_edit_container">
                            <i class="icon email"></i>
                            {{ form.email(class="input-field email_field", type="email", placeholder="sssqvand@gmail.com", onchange="validator()", onkeydown="validator()") }}
<!--                            <input class="input-field" type="text" placeholder="sssqvand@gmail.com" name="usrnm">-->
                        </div>
                    </div>

                    <div class="input_container">
                        <label class="login__label">Введите пароль:</label>
                        <div class="line_edit_container">
                            <div class="change_fill"><i id="long_arrow_icon" class="icon long_arrow"></i></div>
                            <i class="icon password"></i>
                            {{ form.password(class="password_field input-field", type="password", onchange="validator()", onkeydown="validator()") }}

<!--                            <input id="pass1" class="input-field" type="password" placeholder="" name="usrnm">-->
<!--                            <input id="pass2" class="input-field" type="password" placeholder="" name="usrnm" style="display: none;">-->
                            {{ form.password_confirmation(class="password_confirmation_field input-field", style="display: none;", type="password", onchange="validator()", onkeydown="validator()") }}
<!--                            <input class="input-field" type="password" placeholder="" name="usrnm">-->
                            <input class="input-field repeat_fill" type="password" placeholder="" name="usrnm">
                        </div>
                    </div>
                    <p id="error_message" class="error_message login__title error_alert">{{ get_flashed_messages()[0] }}</p>
<!--                    <span class="login__title error_alert">неправильный логин или пароль</span>-->
                </div>
                <div class="buttons_container">
                    <a href=' {{ select_role_url }} ' class="button number_button_2">
                        <img class="img" src='{{ url_for("static", filename="images/arrow.png") }}' alt="arrow">
                        <p class="button_text text_button_2">К выбору</p>
                    </a>
                    <button id="submit_button" type="submit" class="button number_button_1">
                        <i class="button_icon"></i>
                        <span class="button_text text_button_1">Создать</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
<!--</body>-->

<!--<h1>Регистрация - клиент</h1>-->
<!--<a href="{{ select_role_url }}">К выбору</a>-->
<!--<a href="{{ client_login_url }}">Вход</a>-->
<!--<form method="post">-->
<!--    {{ form.hidden_tag() }}-->
<!--    <label>Name: {{ form.name(class="name_field", onchange="validator()", onkeydown="validator()") }}</label>-->
<!--    <label>Email: {{ form.email(class="email_field", onchange="validator()", onkeydown="validator()") }}</label>-->
<!--    <label>Password: {{ form.password(class="password_field", onchange="validator()", onkeydown="validator()") }}</label>-->
<!--    <label>Password Confirmation: {{ form.password_confirmation(class="password_confirmation_field", onchange="validator()", onkeydown="validator()") }}</label>-->
<!--    {{ form.submit(id="submit_button") }}-->
<!--</form>-->
<!--<p id="error_message" class="error_message">{{ get_flashed_messages()[0] }}</p>-->
</body>
<script defer>
    {% if data_js %}
    {{ client_signup_script_url | script(data_js) | safe }}
    {% else %}
    {{ client_signup_script_url | script() | safe }}
    {% endif %}
</script>
</html>